.wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: #2C2730;
  padding: 15px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .wrapper{
    display: flex;
  }
}