.home{
  //position: relative;

  .title{
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  .products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}